body {
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    max-width: 600px;
}

a {
    color: rgb(73, 52, 7);
    position: center;
}

p {
    line-height: 1.8em;
    letter-spacing: .1rem;
    
}


h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 1.5;
    color: rgb(73, 52, 7);
}

img {
    position: relative;
}